<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IPFS file upload</title>
  </head>
  <body>
    <h1>upload file to IPFS</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label>Filename</label>
      <input type="text" name="filename" />
      <br /><br />
      <label>Upload file</label>
      <input type="file" name="file" />
      <br /><br />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
